PORT=5000

DB_HOST=mysql_database_server
DB_USER=mysql_database_user
DB_PASSWORD=mysql_database_password
DB_NAME=mysql_database_name

JWT_SECRET=jsonwebtoken_password
JWT_EXPIRES_IN=15m

REFRESH_SECRET=refreshtoken_password
REFRESH_EXPIRES_IN=7d

APP_ISS=application_iss
APP_AUD=application_aud

NODE_ENV="development"